<div class="window">
  <div class="window-content">
    <div
      class="window-header d-flex justify-content-between align-items-center"
      (click)="closeWindowContent()"
    >
      <div class="window-title">
        Change Password
      </div>
      <i class="fas fa-times"></i>
    </div>
    <form [formGroup]="form" class="window-form" (ngSubmit)="changePassword()">
      <div class="inputGroup mt-2">
        <input
          type="password"
          formControlName="currentPassword"
          class="form-control"
          placeholder="Current Password"
        />
        <div class="feedback">
          <div *ngIf="form.controls.currentPassword.errors && form.touched">
            <div *ngIf="form.controls.currentPassword.errors.required">
              Current Password is required
            </div>
          </div>
        </div>
      </div>

      <div class="inputGroup mt-2">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="New Password"
        />
        <div class="feedback">
          <div *ngIf="form.controls.password.errors && form.touched">
            <div *ngIf="form.controls.password.errors.required">
              Password is required
            </div>
            <div *ngIf="form.controls.password.errors.minlength">
              Password is shorter than 6 characters
            </div>
            <div *ngIf="form.controls.password.errors.maxlength">
              Password is longer than 30 characters
            </div>
          </div>
          <div *ngIf="form.errors && form.touched">
            <div *ngIf="form.errors.identicalPassword">
              {{ form.errors.identicalPassword }}
            </div>
          </div>
        </div>
      </div>

      <div class="inputGroup mt-2">
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control"
          placeholder="Confirm Password"
        />
        <div class="feedback">
          <div *ngIf="form.errors && form.touched">
            <div *ngIf="form.errors.notMatch">
              Passwords do not match
            </div>
          </div>
        </div>
      </div>

      <input
        type="submit"
        value="Change Password"
        class="btn btn-outline-dark w-100 mt-2"
      />
    </form>
  </div>
</div>
