<app-notifier></app-notifier>

<div class="sidebar" [ngClass]="{ active: isSidebarActive }">
  <div
    class="nav-link"
    *ngIf="!isLoggedIn"
    (click)="openWindowContent('signup')"
  >
    <div class="link-name">Sign Up</div>
    <i class="fas fa-user-plus link-icon"></i>
  </div>
  <div
    class="nav-link"
    *ngIf="!isLoggedIn"
    (click)="openWindowContent('login')"
  >
    <div class="link-name">Log In</div>
    <i class="fas fa-sign-in-alt link-icon"></i>
  </div>

  <div
    class="nav-link"
    *ngIf="isLoggedIn"
    (click)="openWindowContent('survey')"
  >
    <div class="link-name">Create Survey</div>
    <i class="fas fa-folder-plus link-icon"></i>
  </div>
  <div class="nav-link" *ngIf="isLoggedIn" routerLink="/mysurveys">
    <div class="link-name">My Surveys</div>
    <i class="fas fa-poll-h link-icon"></i>
  </div>
  <div class="nav-link" routerLink="/weeklysurveys">
    <div class="link-name">Weekly Surveys</div>
    <i class="fas fa-star link-icon"></i>
  </div>
  <div
    class="nav-link"
    *ngIf="isLoggedIn"
    (click)="openWindowContent('password')"
  >
    <div class="link-name">Change Password</div>
    <i class="fas fa-key link-icon"></i>
  </div>
  <div class="nav-link" *ngIf="isLoggedIn" (click)="logout()">
    <div class="link-name">Log Out</div>
    <i class="fas fa-sign-out-alt link-icon"></i>
  </div>
</div>

<div class="app" [ngClass]="{ padding: isSidebarActive }">
  <div class="navbar shadow-sm">
    <!--most popular surveys-->
    <div routerLink="/" id="nav-title">PollIt</div>

    <div class="nav-search">
      <input
        #searchSurvey
        type="text"
        class="search-input"
        placeholder="Search a Survey"
        (keyup.enter)="search(searchSurvey.value)"
      />
      <div>
        <div class="search-button" (click)="toggleMenu()">
          <i class="fas fa-chevron-down "></i>
        </div>
        <div class="search-menu" (mouseout)="toggleMenu()">
          <div
            class="search-mode"
            [ngClass]="{ active: searchMode == 'Title' }"
            (click)="setMode('Title')"
          >
            Title
          </div>
          <div
            class="search-mode"
            [ngClass]="{ active: searchMode == 'User' }"
            (click)="setMode('User')"
          >
            User
          </div>
          <div
            class="search-mode"
            [ngClass]="{ active: searchMode == 'Tags' }"
            (click)="setMode('Tags')"
          >
            Tags
          </div>
        </div>
      </div>
    </div>

    <i class="fas fa-bars" (click)="toggleSidebar()"></i>
  </div>
  <app-loading-spinner *ngIf="isLoading == true"></app-loading-spinner>

  <app-login-form *ngIf="content == 'login'"></app-login-form>
  <app-signup-form *ngIf="content == 'signup'"></app-signup-form>
  <app-survey-form *ngIf="content == 'survey'"></app-survey-form>
  <app-change-password-form
    *ngIf="content == 'password'"
  ></app-change-password-form>
  <router-outlet></router-outlet>
</div>
