.notifier {
  text-align: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0px;
  color: white;
  z-index: 5;
  height: 0px;
  overflow: hidden;
}

.notifier.success {
  padding: 10px 15px;
  height: auto;
  background-color: rgba(75, 181, 67, 0.9);
}

.notifier.error {
  padding: 10px 15px;
  height: auto;
  background-color: rgba(202, 2, 1, 0.9);
}
