<div class="slogan">
  An instructive and easy way to debate any subject for curious people.
</div>
<div class="description">
  PollIt is a light and simple website where you can create surveys and see the
  opinions of people around the world... And give yours obviously!
</div>

<div class="boxes">
  <div class="box">
    <img
      src="assets\undraw_sign_in_e6hj.svg"
      class="box-image"
      alt="Image unavailable"
    />
    <div class="box-content">
      Create an account to access additional functionalities
    </div>
  </div>

  <div class="box">
    <img
      src="assets\undraw_message_sent_1030.svg"
      class="box-image"
      alt="Image unavailable"
    />
    <div class="box-content">
      Create a survey of your choice in a fast and easy way.
    </div>
  </div>

  <div class="box">
    <img
      src="assets\undraw_voting_nvu7.svg"
      class="box-image"
      alt="Image unavailable"
    />
    <div class="box-content">
      Vote and give your opinion on different surveys.
    </div>
  </div>

  <div class="box">
    <img
      src="assets\undraw_site_stats_l57q.svg"
      class="box-image"
      alt="Image unavailable"
    />
    <div class="box-content">
      Have access to visual support by seeing the results of any survey with a
      chart.
    </div>
  </div>
</div>
